*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

img {
    width: 595.18px;
    height: 500px;
    margin: 1 0 0 100px;
    display: inline-block;



}

.link-header {
    font-style:normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    cursor: pointer;
    color: #17233D;
    margin: 0 32px 0 0;



}

header {
    margin: 42px 0px 130px 42px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    
  
    
}

h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 82px;
    color: #161A49;
    font-style: inherit;

}
   

p {
    width: 1000px;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    color: #4B505A;
    font-style: italic;
  
    

}

.button-header {
    width: 124px;
    height: 51px;
    border-radius: 20.5px;
    background: #665AE1;
    font-weight: 600;
    font-size: 25px;
    color: #f0f8ff;
    border: none;
    cursor: pointer;

}



section {
    display: inline-block;
   
}

.button-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #f0f8ff;
    border: none;
    border-radius: 20.5px;
    background: #665AE1;
    width: 124px;
    height: 51px;
    cursor: pointer;
    


}



